/* Loading Screen */
#loading-screen{
  position: fixed;
  height: 100%;
  background-color: #ffffff;
  z-index: 2;
  text-align: center;
  padding-top: 15%;
}

/* Navigation Bar */
#navbar {
  width: 100%;
  z-index: 1;
  position: fixed;
}

.navbar-brand-home {
  font-size: 1.75rem;
}

.info-logo-navbar {
  width: 3rem;
}

.navbar-item {
  font-size: 1.5rem;
}

li {
  list-style-type: none;
}

/* Personal Contacts */
.play-minecraft-with-me-form {
  width: 100%;
  height: 1000px;
  margin-top: 70px;
}

/* More Stuff Coming Soon */
#more-stuff-coming-soon {
  text-align: center;
  padding: 11% 30%;
}

.more-stuff-coming-soon {
  font-size: 5rem;
  font-family: "Indie Flower", cursive;
}
