/* Loading Screen */
#loading-screen{
  position: fixed;
  height: 100%;
  background-color: #ffffff;
  z-index: 2;
  text-align: center;
  padding-top: 15%;
}

/* Navigation Bar */
#navbar {
  width: 100%;
  z-index: 1;
  position: fixed;
}

.navbar-brand-home {
  font-size: 1.75rem;
}

.info-logo-navbar {
  width: 3rem;
}

.navbar-item {
  font-size: 1.5rem;
}

li {
  list-style-type: none;
}

.navbar-github-logo {
  width: 30px;
  margin-left: -8px;
}

/* List Of Websites */
#list-of-websites {
  padding: 5% 10%;
  margin-bottom: 5%;
}

.list-of-websites {
  font-size: 4rem;
  margin-bottom: 2%;
  margin-left: 15%;
  margin-top: 3%;
  font-family: "Pangolin", cursive;
}

.list-of-websites-desc {
  margin-bottom: 5%;
  margin-left: 5%;
}

.website-item {
  margin-left: 12%;
  font-size: 1.4rem;
  list-style-type: none;
}

/* Footer */
#footer {
  padding: 0.5% 0.5%;
  padding-top: -0.5%;
}

.footer-links {
  text-align: left;
  margin-bottom: -10%;
  padding-right: 100%;
}

.footer-icons {
  width: 50px;
  margin-bottom: -2%;
}

.footer-site-info {
  margin-top: -2%;
  text-align: center;
  font-size: 1.5rem
}

.footer-site-info-icons {
  width: 30px;
}

.footer-site-info .copyright {
  font-size: 1.25rem;
}

/* Media Queries */
@media (max-width: 992px) {

  /* Body */
  body {
    text-align: center;
  }

  /* Loading Screen */
  #loading-screen{
    padding-top: 7%;
  }

  /* Navigation Bar */
  .info-logo-navbar {
    width: 5rem;
  }

  .navbar-brand-home {
    font-size: 3.5rem;
  }

  .navbar-toggler {
    width: 4.5rem;
    height: 4.5rem;
  }

  .nav-item {
    font-size: 1.5rem;
  }

  .dropdown-item {
    font-size: 1.5rem;
  }

  .navbar-github-logo {
    width: 50px;
    margin-right: 8px;
  }

  /* Footer */
  #footer {
    padding: 1% 1%;
    padding-top: -0.5%;
  }

  .footer-links {
    text-align: center;
    margin-left: 40%;
    margin-bottom: 15%;
    margin-top: 7%;
    padding-right: -100%;
  }

  .footer-icons {
    width: 150px;
  }

  .footer-site-info {
    text-align: center;
    font-size: 2rem
  }

  .footer-site-info-icons {
    width: 50px;
  }

  .footer-site-info .copyright {
    font-size: 1.5rem;
  }

}

@media (max-width: 768px) {

}
