/* Loading Screen */
#loading-screen {
  position: fixed;
  height: 100%;
  background-color: #ffffff;
  z-index: 2;
  text-align: center;
  padding-top: 15%;
}

/* Navigation Bar */
#navbar {
  width: 100%;
  z-index: 1;
}

.info-logo-navbar {
  width: 5vw;
  margin-top: -10%;
}

.navbar-brand-home {
  font-size: 3vw;
}

.nav-item {
  font-size: 1.25vw;
}

li {
  list-style-type: none;
}

.navbar-github-logo {
  width: 30px;
  margin-left: -8px;
}

/* Footer */
#footer {
  padding-top: -0.5%;
}

.footer-links {
  margin-bottom: -10%;
  text-align: left;
}

.footer-icons {
  width: 3.125vw;
  margin-bottom: -2%;
  margin-right: 20%;
}

.footer-site-info {
  margin-top: -2%;
  text-align: center;
  font-size: 1.5vw;
}

.footer-site-info-icons {
  width: 30px;
}

.footer-site-info .copyright {
  font-size: 1.25vw;
}

/* Media Queries */
@media (max-width: 992px) {

  /* Body */
  body {
    text-align: center;
  }

  /* Loading Screen */
  #loading-screen {
    padding-top: 7%;
  }

  /* Navigation Bar */
  .info-logo-navbar {
    width: 7.5vw;
  }

  .navbar-brand-home {
    font-size: 5vw;
  }

  .nav-item {
    font-size: 2vw;
  }

  .dropdown-item {
    font-size: 2vw;
  }

  .navbar-github-logo {
    width: 3.125vw;
    margin-left: 8px;
  }

  /* Footer */
  #footer {
    padding-top: -0.5%;
    text-align: center;
  }

  .footer-links {
    margin-left: 45%;
    margin-bottom: 15%;
    margin-top: 7%;
    padding-right: -100%;
  }

  .footer-icons {
    width: 9.275vw;
  }

  .footer-site-info {
    text-align: center;
    font-size: 2vw;
  }

  .footer-site-info-icons {
    width: 3.125vw;
  }

  .footer-site-info .copyright {
    font-size: 1.5vw;
  }

}

@media (max-width: 768px) {

  /* Body */
  body {
    text-align: center;
  }

  /* Loading Screen */
  #loading-screen {
    position: fixed;
    height: 100%;
    background-color: #ffffff;
    padding-top: 40%;
  }

  .loading-screen {
    width: 90vw;
  }

  /* Navigation Bar */
  .info-logo-navbar {
    width: 25vw;
  }

  .navbar-brand-home {
    font-size: 15vw;
  }

  .nav-item {
    font-size: 5vw;
  }

  .dropdown-item {
    font-size: 5vw;
  }

  .navbar-github-logo {
    width: 30px;
    margin-left: -8px;
  }

  /* Footer */
  .footer-icons {
    width: 20vw;
  }

  .footer-site-info {
    text-align: center;
    font-size: 7.5vw;
  }

  .footer-site-info-icons {
    width: 10vw;
  }

  .footer-site-info .copyright {
    font-size: 6vw;
  }

}
