/* Eagan Farlin Container */
#im-eagan-farlin {
  width: 100%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 2.5rem;
}

.im {
  font-size: 6rem;
  margin-bottom: -4.5rem;
}

.eagan-farlin {
  font-size: 8rem;
  margin-bottom: -1.5rem;
}

.quick-description-of-me {
  font-size: 1.8rem;
  margin-right: 30%;
  margin-left: 30%;
  font-family: "Neucha", cursive;
}

/* Chevron Down */
.chevron-down-button {
  color: vtransparent !important;
  background-color: transparent !important;
  border-width: 0;
}

.chevron-down {
  width: 13rem;
  cursor: pointer;
}

.chevron-down:hover {
  transform: scale(1.2);
}

/* About Me */
#about-me {
  width: 100%;
  padding: 5% 25%;
  margin-top: -10%;
}

.about-me {
  font-size: 1.25rem;
  margin-bottom: .5%;
}

.about-me-center {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.about-me-left {
  text-align: left;
  margin-right: 50%;
}

.about-me-right {
  text-align: right;
  margin-left: 50%;
}

/* Media Queries */
@media (max-width: 992px) {

  /* Eagan Farlin Container */
  #im-eagan-farlin {
    padding-top: .05rem;
    padding-bottom: .05rem;
    margin-bottom: 0;
  }

  .im {
    font-size: 4.25rem;
    margin-bottom: -2.5rem;
    margin-top: .1rem;
  }

  .eagan-farlin {
    font-size: 5.5rem;
    margin-bottom: .05rem;
  }

  .quick-description-of-me {
    font-size: 1.65rem;
  }

  /* Chevron Down */
  .chevron-down {
    width: 11.5rem;
    margin-top: -2rem;
    margin-bottom: -2rem;
  }

  /* About Me */
  #about-me {
    padding: 12% 22%;
  }

  .about-me {
    margin: 0 !important;
    text-align: center !important;
    margin-bottom: 2rem !important;
    font-size: 1.3rem !important;
  }

}

@media (max-width: 768px) {

  /* Eagan Farlin Container */
  #im-eagan-farlin {
    margin-bottom: 3.5rem;
  }

  .im {
    font-size: 3.3rem;
    margin-top: 1.5rem;
    margin-bottom: -1rem;
  }

  .eagan-farlin {
    font-size: 4rem;
    margin-bottom: .5rem;
    line-height: 1.1;
  }

  .quick-description-of-me {
    font-size: 1.4rem;
    margin-left: 10%;
    margin-right: 10%;
  }

  /* Chevron Down */
  .chevron-down {
    width: 8.5rem;
  }

  /* About Me */
  #about-me {
    padding: 5% 20%;
  }

  .about-me {
    margin-bottom: 6.5rem !important;
    font-size: 1.2rem !important;
    line-height: 1.6 !important;
  }

}