/* 404 */
#four-zero-four {
    text-align: center;
    padding: 1.85rem 37.5%;
    width: 100%;
}

.four-zero-four {
    font-size: 5rem;
    margin-bottom: -.5rem;
}

.four-1 {
    color: #0275d8;
}

.zero {
    color: #d9534f;
}

.four-2 {
    color: #5bc0de;
}

.four-zero-four-explaination {
    font-size: 1.3rem;
    border-color: #fff;
    border-width: .1rem;
    border-style: solid;
}

/* Media Queries */
@media (max-width: 992px) {

    #four-zero-four {
        padding: .7rem 30%;
    }

    .four-zero-four {
        font-size: 4.55rem;
    }

}

@media (max-width: 768px) {

    /* 404 */
    #four-zero-four {
        padding: .5rem 17.5%;
    }

    .four-zero-four {
        font-size: 4rem;
    }

    .four-zero-four-explaination {
        font-size: 1.1rem;
    }

}