/* Navigation Bar */
#navbar {
    position: fixed;
    top: 0;
}

/* Personal Contacts */
#professional-contacts {
    width: 100%;
    padding-top: 8.2rem;
    padding-bottom: -.5rem;
}

#professional-contacts .contact-links {
    text-align: center;
}

/* Media Queries */
@media (max-width: 992px) {

    #professional-contacts {
        width: 100%;
        padding-top: 5.4rem;
        padding-bottom: -.5rem;
    }

}

@media (max-width: 768px) {

    #professional-contacts {
        padding-top: 5rem;
    }

    #professional-contacts .contact-links {
        margin-bottom: -.5rem;
    }

}