/* Everything */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Colors */
:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --link-color: #17a2b8;
  --inverse-link-color: #f0ad4e;
}

:root[user-color-mode="dark"] {
  --primary-color: #fff;
  --secondary-color: #073642;
  --link-color: #f0ad4e;
  --inverse-link-color: #17a2b8;
}

/* Default - Text */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Permanent Marker", cursive;
}

p {
  font-family: "Neucha", cursive;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.swal2-title,
.swal2-content,
.navbar-brand-home,
.nav-text,
.dropdown-toggle,
.dropdown-toggle:hover {
  color: var(--primary-color);
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

h1::-webkit-selection,
h2::-webkit-selection,
h3::-webkit-selection,
h4::-webkit-selection,
h5::-webkit-selection,
h6::-webkit-selection,
p::-webkit-selection,
a::-webkit-selection {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

h1::-ms-selection,
h2::-ms-selection,
h3::-ms-selection,
h4::-ms-selection,
h5::-ms-selection,
h6::-ms-selection,
p::-ms-selection,
a::-ms-selection {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
p::-moz-selection,
a::-moz-selection {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

h1::-o-selection,
h2::-o-selection,
h3::-o-selection,
h4::-o-selection,
h5::-o-selection,
h6::-o-selection,
p::-o-selection,
p::-o-selection {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.bold {
  font-weight: bold;
}

/* Default - Links */
a,
a:hover {
  color: var(--text-color);
  text-decoration-color: var(--link-color);
  text-decoration-thickness: .125rem;
}

a:hover {
  text-decoration: none;
}

a .disabled {
  opacity: 55% !important;
}

/* Background Colors */
body,
#loading-screen,
#navbar,
.navbar-collapse {
  background-color: var(--secondary-color);
}

.swal2-popup {
  background-color: var(--secondary-color) !important;
}

.swal2-actions .swal2-styled {
  background-color: var(--primary-color);
}

/* Border Colors */
#navbar,
.dropdown-menu,
.dropdown-divider,
.divider {
  border-color: var(--primary-color);
}

/* Google Fonts */
/* Heading - Permanent Marker */
@font-face {
  font-family: "Permanent Marker";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Permanent Marker Regular"), local('PermanentMarker-Regular'), url(https://fonts.gstatic.com/s/permanentmarker/v10/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Cfw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Paragraph Text - Neucha */
@font-face {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Neucha"), url(https://fonts.gstatic.com/s/neucha/v12/q5uGsou0JOdh94bfuQltOxU.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: "Neucha";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Neucha"), url(https://fonts.gstatic.com/s/neucha/v12/q5uGsou0JOdh94bfvQlt.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Accept Cookies Popup */
.swal2-actions .swal2-styled {
  color: var(--secondary-color);
  font-weight: bold;
}

.swal2-accept-cookies-text::selection {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.swal2-accept-cookies-text::-webkit-selection {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.swal2-accept-cookies-text::-ms-selection {
  color: var(--secondary-color) !important;
  background-color: var(--primary-color) !important;
}

.swal2-accept-cookies-text::-moz-selection {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.swal2-accept-cookies-text::-o-selection {
  color: var(--secondary-color) !important;
  background-color: var(--primary-color) !important;
}

.swal2-accept-cookies-agree-button-text {
  color: #250b76;
}

.swal2-accept-cookies-decline-button-text,
.swal2-accept-cookies-decline-button-text:hover {
  color: #800080;
  text-decoration: none;
}

.swal2-accept-cookies-x-button-text {
  color: var(--primary-color);
}

/* Loading Screen */
#loading-screen {
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);
  z-index: 2;
}

/* Links - Loading Bar */
#loading-bar {
  width: 70%;
  z-index: 2;
  position: fixed;
  top: 0;
  height: 0.2rem;
  background-color: var(--link-color);
}

/* Navigation Bar */
#navbar {
  width: 100%;
  z-index: 1;
}

.navbar-brand::selection,
.navbar-brand-home::selection,
.nav-text::selection {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.navbar-brand::-webkit-selection,
.navbar-brand-home::-webkit-selection,
.nav-text::-webkit-selection {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.navbar-brand::-ms-selection,
.navbar-brand-home::-ms-selection,
.nav-text::-ms-selection {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.navbar-brand::-moz-selection,
.navbar-brand-home::-moz-selection,
.nav-text::-moz-election {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.navbar-brand::-o-selection,
.navbar-brand-home::-o-selection,
.nav-text::-o-selection {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.navbar-toggler {
  border-color: var(--primary-color);
}

.info-logo-navbar {
  width: 5rem;
  margin-top: -1rem;
}

.navbar-brand-home {
  font-size: 3rem;
  color: var(--primary-color);
}

.nav-text {
  font-size: 1.25rem;
  color: var(--primary-color);
}

.dropdown-toggle::selection {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.dropdown-toggle::-webkit-selection {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.dropdown-toggle::-ms-selection {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.dropdown-toggle::-moz-selection {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.dropdown-toggle::-o-selection {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.dropdown-item {
  font-size: 1.25rem;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--primary-color);
}

.dropdown-item:hover .nav-text,
.dropdown-item:focus .nav-text {
  color: var(--secondary-color);
}

.dropdown-item:hover .nav-text::selection,
.dropdown-item:hover .nav-text::-moz-selection {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.dropdown-menu {
  background-color: var(--secondary-color);
}

.theme-switch {
  background-color: var(--secondary-color);
  border-width: 0px;
}

.theme-switcher-text {
  color: var(--inverse-link-color);
}

/* Footer */
#footer {
  width: 100%;
  text-align: center;
  padding-top: .3rem;
  padding-bottom: .3rem;
}

#footer .row {
  width: 100%;
  padding-left: 5%;
}

.contact-link-icons {
  width: 3.125rem;
}

.contact-link-icon-copy-url {
  width: 2.65rem;
  height: 2.65rem;
}

.footer-site-info {
  font-size: 1.5rem;
}

.footer-site-info-icons {
  width: 30px;
}

.footer-site-info .copyright {
  font-size: 1.25rem;
}

/* Media Queries */
@media (max-width: 1010px) {

  .vertical-buttons {
    margin: 0 !important;
    flex-direction: column;
  }

  .vertical-buttons-margin-top {
    margin-top: 5rem;
  }

}

@media (max-width: 992px) {

  /* Loading Screen */
  #loading-screen {
    padding-top: 15%;
  }

  .loading-screen {
    width: 25rem;
  }

  /* Navigation Bar */
  .navbar-brand {
    margin-top: -1.265rem;
    margin-bottom: -1.265rem;
  }

  .info-logo-navbar {
    margin-top: -1.25rem;
    width: 4.55rem;
  }

  .navbar-brand-home {
    font-size: 3.15rem;
  }

  .navbar-toggler {
    font-size: 1.35rem;
  }

  .navbar-toggler-icon-light {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%23333' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .navbar-toggler-icon-dark {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .nav-item .nav-text,
  .dropdown-toggle,
  .dropdown-item .nav-text {
    font-size: 1.55rem;
    line-height: .9;
  }

  /* Footer */
  #footer {
    padding-top: -5%;
  }

  .contact-link-icons {
    width: 3.5rem;
  }

  .contact-link-icon-copy-url {
    width: 2.9rem;
    height: 2.9rem;
  }

  .footer-site-info {
    font-size: 1.25rem;
    text-align: center;
    font-size: 1.35rem;
    margin-top: .9rem;
  }

  .footer-site-info-icons {
    width: 2rem;
  }

  .footer-site-info .copyright {
    font-size: 1.25rem;
  }

}

@media (max-width: 768px) {

  /* Loading Screen */
  #loading-screen {
    position: fixed;
    padding-top: 25%;
  }

  .loading-screen {
    width: 20rem;
  }

  /* Navigation Bar */
  .navbar-brand {
    margin-top: -1.25rem;
    margin-bottom: -1.25rem;
  }

  .info-logo-navbar {
    width: 4rem;
  }

  .navbar-brand-home {
    font-size: 3rem;
    margin-top: 3rem;
  }

  .navbar-toggler {
    font-size: 1.15rem;
  }

  .nav-item .nav-text,
  .dropdown-toggle,
  .dropdown-item .nav-text {
    font-size: 1.3rem;
    line-height: 1.2;
  }

  /* Footer */
  .contact-link-icons {
    width: 3.15rem;
  }

  .contact-link-icon-copy-url {
    width: 2.8rem;
    height: 2.8rem;
  }

  .footer-site-info {
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .footer-site-info-icons {
    width: 2rem;
  }

  .footer-site-info .copyright {
    font-size: 1.1rem;
  }

}