/* Eagan Farlin Container */
#im-eagan-farlin {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.im {
  font-size: 7rem;
  font-family: "Pangolin", cursive;
  margin-bottom: -2.5%;
}

.eagan-farlin {
  font-size: 8.5rem;
  margin-bottom: 2.5%;
  font-family: "Permanent Marker", cursive;
}

.quick-description-of-me {
  font-size: 2rem;
  margin-top: 2%;
  margin-right: 30%;
  margin-bottom: 2%;
  margin-left: 30%;
}

/* Arrow Down */
.arrow-down {
  width: 8.5rem;
  height: 7.25rem;
  opacity: 60%;
}

.arrow-down:hover {
  opacity: 100%;
}

.arrow-down-container {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 0%;
}

/* About Me */
#about-me {
  padding: 5% 25%;
  padding-top: 15%;
  margin-top: -5%;
  text-align: center;
}

.about-me {
  font-size: 1.25rem;
  margin-bottom: 0.5%;
}

.about-me-left {
  text-align: left;
}

.about-me-right {
  text-align: right;
}

/* Media Queries */
@media (max-width: 992px) {

  /* Eagan Farlin Container */
  #im-eagan-farlin {
    padding-top: 0.05rem;
    padding-bottom: 0.5rem;
  }

  .im {
    font-size: 4.5rem;
    margin-bottom: -0.2rem;
    margin-top: 0.05rem;
  }

  .eagan-farlin {
    font-size: 6rem;
    margin-bottom: 0.05rem;
  }

  .quick-description-of-me {
    font-size: 1.75rem;
  }

  /* Arrow Down */
  .arrow-down {
    opacity: 100%;
    margin-bottom: 0.3rem;
    height: 8.5rem;
    width: 8.5rem;
  }

  /* About Me */
  #about-me {
    padding: 15% 22%;
  }

  .about-me {
    margin-bottom: 2rem;
    font-size: 1.25rem;
  }

  .about-me-left {
    text-align: center;
  }

  .about-me-right {
    text-align: center;
  }

}

@media (max-width: 768px) {

  /* Eagan Farlin Container */
  .im {
    font-size: 3rem;
    margin-top: 0.15rem;
  }

  .eagan-farlin {
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }

  .quick-description-of-me {
    font-size: 1.3rem;
    margin-left: 10%;
    margin-right: 10%;
  }

  /* Arrow Down */
  .arrow-down {
    margin-bottom: 6.5rem;
    height: 6.5rem;
    width: 6.5rem;
  }

  /* About Me */
  #about-me {
    padding: 10% 20%;
    padding-top: 15%;
    margin-top: -5%;
  }

  .about-me {
    margin-bottom: 6.5rem;
    font-size: 1.25rem;
    line-height: 2rem;
  }

}