/* Everything */
* {
  box-sizing: border-box;
}

/* Loading Screen */
#loading-screen {
  position: fixed;
  height: 100vh;
  background-color: #ffffff;
  z-index: 2;
  text-align: center;
  padding-top: 10%;
}

/* Eagan Farlin Container */
#im-eagan-farlin {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.im {
  font-size: 7vw;
  font-family: "Pangolin", cursive;
  margin-bottom: -2.5%;
}

.eagan-farlin {
  font-size: 10vw;
  margin-bottom: 2.5%;
  font-family: "Permanent Marker", cursive;
}

.quick-description-of-me {
  font-size: 2vw;
  margin-top: 2%;
  margin-right: 30%;
  margin-bottom: 2%;
  margin-left: 30%;
}

/* Arrow Down */
.arrow-down {
  width: 8vw;
  height: 7.25vw;
  opacity: 60%;
}

.arrow-down:hover {
  opacity: 100%;
}

.arrow-down-container {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 0%;
}

/* Navigation Bar */
#navbar {
  width: 100%;
  z-index: 1;
}

.info-logo-navbar {
  width: 5vw;
  margin-top: -10%;
}

.navbar-brand-home {
  font-size: 3vw;
}

.nav-item {
  font-size: 1.25vw;
}

li {
  list-style-type: none;
}

.navbar-github-logo {
  width: 30px;
  margin-left: -8px;
}

/* About Me */
#about-me {
  padding: 5% 25%;
  padding-top: 15%;
  margin-top: -5%;
  text-align: center;
}

.about-me {
  font-size: 1.25vw;
  margin-bottom: 5%;
}

.about-me-left {
  text-align: left;
}

.about-me-right {
  text-align: right;
}

/* Footer */
#footer {
  padding-top: 3%;
  padding-bottom: 3%;
}

.footer-links {
  text-align: left;
}

.footer-icons {
  width: 3.125vw;
  margin-right: 20%;
}

.footer-site-info {
  text-align: center;
  font-size: 1.5vw;
}

.footer-site-info-icons {
  width: 30px;
}

.footer-site-info .copyright {
  font-size: 1.25vw;
}

/* Media Queries */
@media (max-width: 992px) {

  /* Loading Screen */
  .loading-screen {
    width: 60vw;
  }

  /* Eagan Farlin Container */
  #im-eagan-farlin {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .im {
    font-size: 10vw;
    margin-bottom: -2%;
    margin-top: 0.5%;
  }

  .eagan-farlin {
    font-size: 13vw;
    margin-bottom: 3%;
  }

  .quick-description-of-me {
    font-size: 3.5vw;
  }

  /* Arrow Down */
  .arrow-down {
    opacity: 100%;
    margin-bottom: 3%;
    height: 15vw;
    width: 15vw;
  }

  /* Navigation Bar */
  .info-logo-navbar {
    width: 7.5vw;
  }

  .navbar-brand-home {
    font-size: 5vw;
  }

  .nav-item {
    font-size: 3vw;
  }

  .dropdown-item {
    font-size: 3vw;
  }

  .navbar-github-logo {
    width: 5vw;
    margin-left: 0.1vw;
  }

  /* About Me */
  #about-me {
    padding: 15% 22%;
  }

  .about-me {
    margin-bottom: 15%;
    font-size: 3vw;
  }

  .about-me-left {
    text-align: center;
  }

  .about-me-right {
    text-align: center;
  }

  /* Footer */
  #footer {
    padding-top: -5%;
    text-align: center;
  }

  .footer-links {
    margin-left: 45%;
    margin-bottom: 7%;
    margin-top: 7%;
    padding-right: -100%;
  }

  .footer-icons {
    width: 9.275vw;
  }

  .footer-site-info {
    text-align: center;
    font-size: 3vw;
  }

  .footer-site-info-icons {
    width: 5vw;
  }

  .footer-site-info .copyright {
    font-size: 2.5vw;
  }

}

@media (max-width: 768px) {

  /* Loading Screen */
  #loading-screen {
    position: fixed;
    background-color: #ffffff;
    padding-top: 35%;
  }

  .loading-screen {
    width: 85vw;
  }

  /* Eagan Farlin Container */
  .im {
    font-size: 12.5vw;
    margin-top: 1.5%;
  }

  .eagan-farlin {
    font-size: 15vw;
    margin-bottom: 5%;
  }

  .quick-description-of-me {
    font-size: 6vw;
    margin-left: 10%;
    margin-right: 10%;
  }

  /* Arrow Down */
  .arrow-down {
    margin-bottom: 40%;
    height: 27.25vw;
    width: 27.25vw;
  }

  /* Navigation Bar */
  .navbar-brand {
    margin-top: -2.5%;
    margin-bottom: -2.5%;
  }

  .info-logo-navbar {
    width: 17vw;
  }

  .navbar-brand-home {
    font-size: 12.5vw;
  }

  .nav-item {
    font-size: 5vw;
  }

  .dropdown-item {
    font-size: 5vw;
  }

  .navbar-github-logo {
    width: 10vw;
    margin-left: -8px;
  }

  /* About Me */
  #about-me {
    padding: 10% 20%;
    padding-top: 15%;
    margin-top: -5%;
  }

  .about-me {
    margin-bottom: 65%;
    font-size: 5vw;
    line-height: 10vw;
  }

  /* Footer */
  .footer-links {
    margin-left: 39%;
  }

  .footer-icons {
    width: 20vw;
  }

  .footer-site-info {
    text-align: center;
    font-size: 5vw;
    line-height: 10vw;
  }

  .footer-site-info-icons {
    width: 10vw;
  }

  .footer-site-info .copyright {
    font-size: 4.5vw;
  }

}