/* Eagan Farlin Container */
#im-eagan-farlin {
  width: 100%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.im {
  font-size: 6rem;
  margin-bottom: -4.5rem;
}

.eagan-farlin {
  font-size: 8rem;
  margin-bottom: -1.5rem;
}

.quick-description-of-me {
  font-size: 1.8rem;
  margin-right: 30%;
  margin-left: 30%;
}

/* Arrow Down */
.arrow-down-button {
  background-color: var(--background-color);
  border-width: 0;
}

.arrow-down {
  width: 6.5rem;
  height: 6.2rem;
  opacity: 80%;
  transform: rotate(180deg);
}

.arrow-down:hover {
  opacity: 100%;
}

.arrow-down-2-container {
  width: 100%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 0%;
}

/* About Me */
#about-me {
  width: 100%;
  padding: 5% 25%;
  padding-top: 15%;
  margin-top: -5%;
  text-align: center;
}

.about-me {
  font-size: 1.25rem;
  margin-bottom: .5%;
}

.about-me-left {
  text-align: left;
}

.about-me-right {
  text-align: right;
}

/* Media Queries */
@media (max-width: 992px) {

  /* Eagan Farlin Container */
  #im-eagan-farlin {
    padding-top: .05rem;
    padding-bottom: .5rem;
  }

  .im {
    font-size: 4.25rem;
    margin-bottom: -2.5rem;
    margin-top: .1rem;
  }

  .eagan-farlin {
    font-size: 5.5rem;
    margin-bottom: .05rem;
  }

  .quick-description-of-me {
    font-size: 1.65rem;
  }

  /* Arrow Down */
  .arrow-down {
    opacity: 100%;
    margin-bottom: .3rem;
    height: 5.5rem;
    width: 5.5rem;
  }

  /* About Me */
  #about-me {
    padding: 15% 22%;
  }

  .about-me {
    margin-bottom: 2rem;
    font-size: 1.3rem;
  }

  .about-me-left {
    text-align: center;
  }

  .about-me-right {
    text-align: center;
  }

}

@media (max-width: 768px) {

  /* Eagan Farlin Container */
  .im {
    font-size: 3.3rem;
    margin-top: 1.5rem;
    margin-bottom: -1rem;
  }

  .eagan-farlin {
    font-size: 4rem;
    margin-bottom: .5rem;
    line-height: 1.1;
  }

  .quick-description-of-me {
    font-size: 1.4rem;
    margin-left: 10%;
    margin-right: 10%;
  }

  /* Arrow Down */
  .arrow-down {
    margin-bottom: 3.5rem;
    height: 5rem;
    width: 5rem;
  }

  /* About Me */
  #about-me {
    padding: 10% 20%;
    padding-top: 15%;
    margin-top: -5%;
  }

  .about-me {
    margin-bottom: 6.5rem;
    font-size: 1.2rem;
    line-height: 1.6;
  }

}