/* List Items */
li {
  list-style-type: none;
}

/* Eagan Farlin Container */
#im-eagan-farlin {
  text-align: center;
  padding: 5% 8%;
}

.im {
  font-size: 5rem;
  font-family: "Pangolin", cursive;
  margin-bottom: -2.5%;
  margin-top: 1.5%;
}

.eagan-farlin {
  font-size: 9.5rem;
  margin-bottom: 2.5%;
  font-family: "Permanent Marker", cursive;
}

.quick-description-of-me {
  font-size: 2rem;
  margin: 2.5% 30%;
  margin-top: -0.5%;
  margin-bottom: -0.5%;
}

/* Arrow Down */
.arrow-down {
  width: 8rem;
  height: 7.25rem;
  opacity: 60%;
}

.arrow-down:hover {
  opacity: 100%;
}

.arrow-down-container {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 0%;
}

/* Navigation Bar */
#navbar {
  width: 100%;
  z-index: 1;
}

.navbar-brand-home {
  font-size: 1.75rem;
}

.info-logo-navbar {
  width: 3rem;
}

.navbar-item {
  font-size: 1.5rem;
}

/* About Me */
#about-me {
  padding: 5% 25%;
  padding-top: 15%;
  margin-top: -5%;
}

.about-me {
  margin-bottom: 5%;
}

.about-me-right {
  text-align: right;
  padding-left: 60%;
}

.about-me-left {
  text-align: left;
  padding-right: 60%;
}

.about-me-center {
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
}

/* More Stuff Coming Soon */
#more-stuff-coming-soon {
  text-align: center;
  padding: 11% 30%;
}

.more-stuff-coming-soon {
  font-size: 5rem;
  font-family: "Indie Flower", cursive;
}

/* Media Queries */
@media (max-width: 1200px) {

  .arrow-down {
    opacity: 100%;
  }

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}
